<ActionBar class="action-bar">
    <!-- 
        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
    <!-- <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem> -->
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()" ios.position="left"></NavigationButton>
    <Label class="action-bar-title" text="Business Images"></Label>
</ActionBar>

<GridLayout columns="*" rows="*,60" class="page page-content">
    <ScrollView row="0" col="0">
        <StackLayout class="full-content">
            <StackLayout class="card-form">

                <StackLayout style="padding-bottom: 20px;">
                    <Label class="card-form-heading" text="Business Images"></Label>
                </StackLayout>
                <GridLayout tkExampleTitle tkToggleNavButton *ngIf="visible_key">
                    <RadListView [items]="gallery_images">
                        <ng-template tkListItemTemplate let-item="item" let-i="index">

                            <StackLayout orientation="vertical">
                                <StackLayout style="background-color: #CCC; border-color: #fff" verticalAlignment="center"
                                    [borderBottomWidth]="(i+1) % 3 == 0? 0: 2" (tap)="pickBusinessImages(item.id)">
                                    <AbsoluteLayout class="camera-icon">
                                        <FrescoDrawee placeholderImageUri="~/images/placeholder.png" aspectRatio="1"
                                            [imageUri]="item.app_images" width="100%" height="200" actualImageScaleType="fitCenter"></FrescoDrawee>

                                        <Label backgroundColor="#cb202d" color="#fff" left="0" fontSize="16" style="padding: 20"
                                            borderRadius="50%" VerticalAlignment="center" class="fa" text="&#xf030;"></Label>


                                    </AbsoluteLayout>
                                </StackLayout>
                            </StackLayout>
                        </ng-template>
                        <!-- <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="3"></ListViewGridLayout> -->
                    </RadListView>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
    <GridLayout *ngIf="key != ''" columns="*,*" rows="*" row="1" col="0" width="100%" verticalAlignment="center"
        horizontalAlignment="center">

        <StackLayout *ngIf="gallery_images.length < 3" row="0" col="0" width="100%" style="background-color:#cb202d; height: 60"
            verticalAlignment="center" horizontalAlignment="center" borderRightWidth="1" borderColor="#393939" (tap)="pickNewBusinessImages()">
            <Label text="Upload Business Image &#xf030;" class="fa create-app-text" textAlignment="center" textWrap="true"></Label>
        </StackLayout>
        <StackLayout *ngIf="gallery_images.length < 3" row="0" col="1" width="100%" style="background-color:#cb202d; height: 60"
            verticalAlignment="center" horizontalAlignment="center" (tap)="next()">
            <Label text="Next" class="create-app-text" textAlignment="center" textWrap="true"></Label>
        </StackLayout>
        <StackLayout *ngIf="gallery_images.length >= 3" row="0" colSpan="2" width="100%" style="background-color:#cb202d; height: 60"
            verticalAlignment="center" horizontalAlignment="center" (tap)="next()">
            <Label text="Next" class="create-app-text" textAlignment="center" textWrap="true"></Label>
        </StackLayout>
    </GridLayout>
    <GridLayout *ngIf="key == ''" columns="*" rows="*" row="1" col="0" width="100%" verticalAlignment="center"
        horizontalAlignment="center">

        <StackLayout *ngIf="gallery_images.length < 3" row="0" col="0" width="100%" style="background-color:#cb202d; height: 60"
            verticalAlignment="center" horizontalAlignment="center" borderRightWidth="1" borderColor="#393939" (tap)="pickNewBusinessImages()">
            <Label text="Upload Business Image &#xf030;" class="fa create-app-text" textAlignment="center" textWrap="true"></Label>
        </StackLayout>

    </GridLayout>

</GridLayout>