<ActionBar class="action-bar">
    <!-- 
        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" [text]="app_data.business_name"></Label>
</ActionBar>
<ScrollView>
    <GridLayout columns="*" rows="*" class="page page-content">
        <StackLayout class="full-content" col="0" row="0">
            <StackLayout  style="padding-top:30">
                <AbsoluteLayout width="50%" height="150">
                    <StackLayout left="0" top="30" width="100%" verticalAlignment="center" horizontalAlignment="center">
                        <Label class="card-app app-name" [text]="app_data.business_name" height="80" style="padding-top:40;padding-bottom:10" textAlignment="center"
                            textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout top="0" margin="5" width="100%" verticalAlignment="center" horizontalAlignment="center">
                        <FrescoDrawee placeholderImageUri="~/images/placeholder.png" [imageUri]="app_data.logo" width="70" height="70" actualImageScaleType="fitCenter"
                            roundAsCircle="true" backgroundColor="#ffffff" borderRadius="50"></FrescoDrawee>
                    </StackLayout>
                </AbsoluteLayout>
            </StackLayout>

            <GridLayout  columns="*,*,*" rows="*,*" *ngIf="app_user_id == user_id">
                <StackLayout col="0" row="0" verticalAlignment="center" height="120" class="card-menu" (tap)="onNavItemTap('/created-app/'+app_id+'/manage-app')">
                    <StackLayout class="card-menu-icon" width="45" height="45" verticalAlignment="center" horizontalAlignment="center">
                        <Label verticalAlignment="center" horizontalAlignment="center" class="fa" text="&#xf0f7;" ></Label>
                    </StackLayout>
                    <Label textAlignment="center" text="Manage App" VerticalAlignment="center" style="padding-top:10" textWrap="true"></Label>
                </StackLayout>
                <StackLayout col="1" row="0" verticalAlignment="center" height="120" class="card-menu" (tap)="onNavItemTap('/created-app/'+app_id+'/order-history')">
                    <StackLayout class="card-menu-icon" width="45" height="45" verticalAlignment="center" horizontalAlignment="center">
                        <Label verticalAlignment="center" horizontalAlignment="center" class="fa" text="&#xf1ea;" ></Label>
                    </StackLayout>
                    <Label textAlignment="center" text="Order Details" VerticalAlignment="center" style="padding-top:10" textWrap="true"></Label>
                </StackLayout>
                <StackLayout col="2" row="0" verticalAlignment="center" height="120" class="card-menu" (tap)="onNavItemTap('/created-app/'+app_id+'/messages')"  >
                    <StackLayout class="card-menu-icon" width="45" height="45"  verticalAlignment="center" horizontalAlignment="center">
                        <Label verticalAlignment="center" horizontalAlignment="center" class="fa" text="&#xf27b;" ></Label>
                    </StackLayout>
                    <Label textAlignment="center" text="Messages" VerticalAlignment="center" style="padding-top:10" textWrap="true"></Label>
                </StackLayout>
                <StackLayout col="0" row="1" verticalAlignment="center" height="120" class="card-menu" (tap)="onNavItemTap('/created-app/'+app_id+'/customers')" >
                    <StackLayout class="card-menu-icon" width="45" height="45"  verticalAlignment="center" horizontalAlignment="center">
                        <Label verticalAlignment="center" horizontalAlignment="center" class="fa" text="&#xf0c0;" ></Label>
                    </StackLayout>
                    <Label textAlignment="center" text="My Customer" VerticalAlignment="center" style="padding-top:10" textWrap="true"></Label>
                </StackLayout>
                <StackLayout  *ngIf="app_details?.android_app_url" col="1" row="1" verticalAlignment="center" height="120" class="card-menu" (tap)="shareApp()"  >
                    <StackLayout class="card-menu-icon" width="45" height="45"  verticalAlignment="center" horizontalAlignment="center">
                        <Label verticalAlignment="center" horizontalAlignment="center" class="fa" text="&#xf1e0;" ></Label>
                    </StackLayout>
                    <Label textAlignment="center" text="Market App" VerticalAlignment="center" style="padding-top:10" textWrap="true"></Label>
                </StackLayout>
                <StackLayout *ngIf="app_details?.android_app_url && !app_details?.is_paid" col="2" row="1" verticalAlignment="center" height="120" class="card-menu" (tap)="onNavItemTap('/created-app/'+app_id+'/payment')" >
                    <StackLayout class="card-menu-icon" width="45" height="45"  verticalAlignment="center" horizontalAlignment="center">
                        <Label verticalAlignment="center" horizontalAlignment="center" class="fa" text="&#xf0f7;" ></Label>
                    </StackLayout>
                    <Label textAlignment="center" text="Make Payment" VerticalAlignment="center" style="padding-top:10" textWrap="true"></Label>
                </StackLayout>
                <StackLayout *ngIf="app_details?.android_app_url && app_details?.is_paid" col="2" row="1" verticalAlignment="center" height="120" class="card-menu" (tap)="onNavItemTap('/created-app/'+app_id+'/subscription-details')" >
                    <StackLayout class="card-menu-icon" width="45" height="45"  verticalAlignment="center" horizontalAlignment="center">
                        <Label verticalAlignment="center" horizontalAlignment="center" class="fa" text="&#xf0f7;" ></Label>
                    </StackLayout>
                    <Label textAlignment="center" text="Subscription" VerticalAlignment="center" style="padding-top:10" textWrap="true"></Label>
                </StackLayout>
                <StackLayout *ngIf="!app_details?.android_app_url && !app_details?.is_paid" col="1" row="1" verticalAlignment="center" height="120" class="card-menu" (tap)="onNavItemTap('/created-app/'+app_id+'/payment')" >
                    <StackLayout class="card-menu-icon" width="45" height="45"  verticalAlignment="center" horizontalAlignment="center">
                        <Label verticalAlignment="center" horizontalAlignment="center" class="fa" text="&#xf0f7;" ></Label>
                    </StackLayout>
                    <Label textAlignment="center" text="Make Payment" VerticalAlignment="center" style="padding-top:10" textWrap="true"></Label>
                </StackLayout>
                <StackLayout *ngIf="!app_details?.android_app_url && app_details?.is_paid" col="1" row="1" verticalAlignment="center" height="120" class="card-menu" (tap)="onNavItemTap('/created-app/'+app_id+'/subscription-details')" >
                    <StackLayout class="card-menu-icon" width="45" height="45"  verticalAlignment="center" horizontalAlignment="center">
                        <Label verticalAlignment="center" horizontalAlignment="center" class="fa" text="&#xf0f7;" ></Label>
                    </StackLayout>
                    <Label textAlignment="center" text="Subscription" VerticalAlignment="center" style="padding-top:10" textWrap="true"></Label>
                </StackLayout>
            </GridLayout>
            <GridLayout  columns="*,*,*" rows="*,*" *ngIf="app_user_id != user_id">
                <StackLayout col="0" row="0" verticalAlignment="center" height="120" class="card-menu" (tap)="onNavItemTap('/created-app/'+app_id+'/manage-app')">
                    <StackLayout class="card-menu-icon" width="45" height="45" verticalAlignment="center" horizontalAlignment="center">
                        <Label verticalAlignment="center" horizontalAlignment="center" class="fa" text="&#xf0f7;" ></Label>
                    </StackLayout>
                    <Label textAlignment="center" text="Manage App" VerticalAlignment="center" style="padding-top:10" textWrap="true"></Label>
                </StackLayout>
                <StackLayout *ngIf="!app_details?.android_app_url && !app_details?.is_paid" col="1" row="0" verticalAlignment="center" height="120" class="card-menu" (tap)="onNavItemTap('/created-app/'+app_id+'/payment')" >
                    <StackLayout class="card-menu-icon" width="45" height="45"  verticalAlignment="center" horizontalAlignment="center">
                        <Label verticalAlignment="center" horizontalAlignment="center" class="fa" text="&#xf0f7;" ></Label>
                    </StackLayout>
                    <Label textAlignment="center" text="Make Payment" VerticalAlignment="center" style="padding-top:10" textWrap="true"></Label>
                </StackLayout>
                <StackLayout *ngIf="!app_details?.android_app_url && app_details?.is_paid" col="1" row="0" verticalAlignment="center" height="120" class="card-menu" (tap)="onNavItemTap('/created-app/'+app_id+'/subscription-details')" >
                    <StackLayout class="card-menu-icon" width="45" height="45"  verticalAlignment="center" horizontalAlignment="center">
                        <Label verticalAlignment="center" horizontalAlignment="center" class="fa" text="&#xf0f7;" ></Label>
                    </StackLayout>
                    <Label textAlignment="center" text="Subscription" VerticalAlignment="center" style="padding-top:10" textWrap="true"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>