<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">

        <!-- <StackLayout row="0" class="sidedrawer-header" *ngIf="isLoggedin">
            <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
            <Label class="sidedrawer-header-brand" text="User Name"></Label>
            <Label class="footnote" text="username@mail.com"></Label>
        </StackLayout>
        <StackLayout row="0" class="sidedrawer-header" *ngIf="!isLoggedin">
            <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
            <Label class="sidedrawer-header-brand" text="{{logged_user_first_name}} {{logged_user_last_name}}"></Label>
            <Label class="footnote" [text]="logged_user_email"></Label>
        </StackLayout> -->

        <StackLayout row="0" class="sidedrawer-header" *ngIf="isLoggedin" orientation="vertical">
            <FrescoDrawee horizontalAlignment="center" placeholderImageUri="~/images/placeholder.png" aspectRatio="1.33" [imageUri]="img_base_url + logged_user_profile_image"
                class="sidedrawer-header-image" roundAsCircle="true"></FrescoDrawee>
            <Label horizontalAlignment="center" class="sidedrawer-header-brand" text="{{logged_user_first_name}} {{logged_user_last_name}}"></Label>
            <Label horizontalAlignment="center" class="footnote" [text]="logged_user_email"></Label>
        </StackLayout>
        <StackLayout row="0" class="sidedrawer-header" *ngIf="!isLoggedin" orientation="vertical">
            <FrescoDrawee horizontalAlignment="center" placeholderImageUri="~/images/placeholder.png" aspectRatio="1.33" imageUri="~/images/logo.png"
                class="sidedrawer-header-image" roundAsCircle="true"></FrescoDrawee>
        </StackLayout>

        
        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">
                <GridLayout *ngIf="!isLoggedin" columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/login')"
                    (tap)="onNavItemTap('/login')">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="Sign In" class="p-r-10"></Label>
                </GridLayout>
                
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/dashboard/' + logged_user_id)" (tap)="onNavItemTap('/dashboard/' + logged_user_id)">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="Dashboard" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/franchise-user')" (tap)="onNavItemTap('/franchise-user')" *ngIf="logged_user_group != undefined">
                    <Label col="0" text="&#xf0c0;" class="fa"></Label>
                    <Label col="1" text="Franchise User" class="p-r-10"></Label>
                </GridLayout>
                
                <!-- <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="Home" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/browse')" (tap)="onNavItemTap('/browse')">
                    <Label col="0" text="&#xf1ea;" class="fa"></Label>
                    <Label col="1" text="Browse" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/search')" (tap)="onNavItemTap('/search')">
                    <Label col="0" text="&#xf002;" class="fa"></Label>
                    <Label col="1" text="Search" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/featured')" (tap)="onNavItemTap('/featured')">
                    <Label col="0" text="&#xf005;" class="fa"></Label>
                    <Label col="1" text="Featured" class="p-r-10"></Label>
                </GridLayout> -->

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout *ngIf="isLoggedin" columns="auto, *" class="sidedrawer-list-item" (tap)="logout()">
                    <Label col="0" text="&#xf011;" class="fa"></Label>
                    <Label col="1" text="Signout" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>