<StackLayout class="apps-container">
    <GridLayout rows="auto" columns="*,*" style="padding-top: 30" verticalAlignment="center">
        <Button class="btn btn-primary fa"   padding="10" borderRadius="100" text="&#xf030;" row="0" col="0" verticalAlignment="center" (tap)='onTakePictureTap($event)'></Button>
        <Button class="btn btn-primary fa"  padding="10" borderRadius="100" text="&#xf1c5;" row="0" col="1" verticalAlignment="center" (tap)="onSelectSingleTap()"></Button>
    </GridLayout>
    <Button class="btn-primary" style="background-color: #ccc"  borderRadius="18" text="Cancel" (tap)="cancel()"></Button>
    <!-- <Image [src]="imageUrl"></Image> -->
</StackLayout>