<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>    
    <Label class="action-bar-title" [text]="user_name == undefined ? 'Dashboard' : user_name + ' Dashboard'"></Label>
</ActionBar>


<GridLayout rows="*,60" class="page page-content">
    <ScrollView row="0">

        <StackLayout class="full-content">
            <Image horizontalAlignment="center" verticalAlignment="top" loadMode="async" src="~/images/addvertise.png" width="100%"></Image>
            <Label class="tag-line-grey m-b-10 m-t-10">
                <FormattedString>
                    <Span [text]="user_name == undefined ? 'Your App' : user_name + ' App'" class="bold-tag"></Span>
                </FormattedString>
            </Label>
            <StackLayout class="hr-light pading-gap m-b-10 m-t-10"></StackLayout>

            <GridLayout tkExampleTitle tkToggleNavButton>
                <RadListView [items]="user_app_list">
                    <ng-template tkListItemTemplate let-item="item" let-i="index">
                        <GridLayout columns="*" rows="*"  verticalAlignment="center" (tap)="onNavItemTap('/created-app/' + item.id + '/details')">
                            <AbsoluteLayout width="100%" height="150">

                                <StackLayout left="0" top="30" width="100%" verticalAlignment="center" horizontalAlignment="center">
                                    <Label class="card-app app-name" [text]="item.app_name" height="80" style="padding-top:40;padding-bottom:10" textAlignment="center"
                                        textWrap="true"></Label>
                                </StackLayout>

                                <StackLayout top="0" margin="5" width="100%" *ngIf="item.is_paid" verticalAlignment="center" horizontalAlignment="center">

                                    <AbsoluteLayout width="100%" verticalAlignment="center" horizontalAlignment="center">
                                        <StackLayout width="100%" verticalAlignment="center" horizontalAlignment="center">
                                            <FrescoDrawee placeholderImageUri="~/images/placeholder.png" [imageUri]="base_url + item.logo" width="70" height="70" actualImageScaleType="fitCenter"
                                                roundAsCircle="true" backgroundColor="#ffffff" borderRadius="50"></FrescoDrawee>

                                        </StackLayout>
                                        <Label left="53" *ngIf="item.total_unread_notification > 0" verticalAlignment="center" [text]="item.total_unread_notification" class="unread" textAlignment="center"></Label>
                                    </AbsoluteLayout>

                                </StackLayout>

                                <StackLayout top="0" margin="5" width="100%" *ngIf="!item.is_paid" verticalAlignment="center" horizontalAlignment="center">

                                    <AbsoluteLayout width="100%" verticalAlignment="center" horizontalAlignment="center">
                                        <StackLayout width="100%" verticalAlignment="center" horizontalAlignment="center">
                                            <FrescoDrawee placeholderImageUri="~/images/placeholder.png" imageUri="~/images/payment-due.png" width="70" height="70" actualImageScaleType="fitCenter"
                                                roundAsCircle="true"></FrescoDrawee>

                                        </StackLayout>
                                        <Label left="53" *ngIf="item.total_unread_notification > 0" verticalAlignment="center" [text]="item.total_unread_notification" class="unread" textAlignment="center"></Label>
                                    </AbsoluteLayout>
                                </StackLayout>

                                <!-- <StackLayout top="0" margin="5" width="100%"  verticalAlignment="center" horizontalAlignment="center">
                                    <Image loadMode="async" src="~/images/tick.png" height="100"></Image>
                                </StackLayout> -->


                            </AbsoluteLayout>

                        </GridLayout>
                    </ng-template>
                    <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="2"></ListViewGridLayout>
                </RadListView>
            </GridLayout>
        </StackLayout>
    </ScrollView>
    <StackLayout row="1" width="100%" style="background-color:#cb202d; height: 60" verticalAlignment="center" horizontalAlignment="center" (tap)="onNavItemTap('/app-create/category-choose')">
        <Label text="Create App Now &#xf055;" class="fa create-app-text" textAlignment="center" textWrap="true"></Label>
    </StackLayout>
</GridLayout>