<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <!-- <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem> -->
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()" ios.position="left"></NavigationButton>
    <Label class="action-bar-title" text="Products"></Label>
</ActionBar>

<GridLayout rows="*,60" columns="*,*" class="page page-content">
    <ScrollView row="0" colSpan="2">
        <StackLayout class="full-content">
            <GridLayout tkExampleTitle tkToggleNavButton class="all_category_product_container">
                <RadListView [items]="category_list" loadOnDemandMode="Manual" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)">
                    <ng-template tkListItemTemplate let-category="item">
                        <StackLayout verticalAlignment="top" horizontalAlignment="center" class="category_area">
                            <StackLayout class="heading_sec">
                                <Label [text]="category.category_name" textWrap="true"></Label>
                            </StackLayout>
                            <GridLayout tkExampleTitle tkToggleNavButton>
                                <RadListView [items]="category.products">
                                    <ng-template tkListItemTemplate let-product="item" let-i="index">
                                        <GridLayout columns="90,*,80" rows="*" class="list-group-item"
                                            verticalAlignment="center">
                                            <FrescoDrawee col="0" row="0" placeholderImageUri="~/images/placeholder.png"
                                                aspectRatio="1.33" [imageUri]="img_base_url+'/media/'+product.product_image"
                                                width="90" height="90" roundAsCircle="true" roundedCornerRadius="50"
                                                actualImageScaleType="fitCenter" class="product_image"
                                                verticalAlignment="center" horizontalAlignment="left"></FrescoDrawee>
                                            <StackLayout orientation="vertical" col="1" row="0" verticalAlignment="center"
                                                horizontalAlignment="left" class="middle_content_area">
                                                <Label [text]="product.product_name" class="productName" textWrap="true"></Label>
                                                <Label [text]="product.description | slice:1:100" class="productDesc"
                                                    textWrap="true"></Label>
                                                <StackLayout row="1" col="0" verticalAlignment="center" orientation="vertical"
                                                    horizontalAlignment="left" class="m-t-5 m-b-5">
                                                    <StackLayout orientation="horizontal">
                                                        <Label [text]="'&#xf156;' + product.discounted_price" class="fa discounted_price"
                                                            textWrap="true" *ngIf="product.discounted_price > 0"></Label>
                                                        <Label [text]="'&#xf156;' + product.price" class="fa original_price"
                                                            textWrap="true" [ngClass]="[product.discounted_price > 0 ? 'isDiscount' : '']"></Label>
                                                    </StackLayout>
                                                </StackLayout>
                                                <!-- <GridLayout rows="*" columns="15,auto" verticalAlignment="center">
                                                    <Label [text]="app.avg_rating" textWrap="true" class="rate_badge"
                                                        verticalAlignment="center" horizontalAlignment="left" col="0"
                                                        row="0"></Label>
                                                    <StackLayout orientation="horizontal" verticalAlignment="center"
                                                        col="1" row="0" horizontalAlignment="left" paddingLeft="3">
                                                        <Label class="fa rating" text="&#xf005;" *ngFor="let rat of rating; let i = index"
                                                            [ngClass]="[i <= app.avg_rating -1 ? 'active' : '']"></Label>
                                                    </StackLayout>
                                                </GridLayout> -->

                                                <!-- <Label [text]="app.store_address" class="address" textWrap="true"></Label> -->
                                            </StackLayout>
                                            <StackLayout horizontalAlignment="right" verticalAlignment="center" col="2"
                                                row="0" class="btn_area">
                                                <!-- <GridLayout rows="*" columns="60,20" verticalAlignment="center" (tap)="addToDashboard(category.id,app.id)">
                                                    <Label [text]="app.isDashboard ? 'Remove' : 'Add'" row="0" col="0"
                                                        verticalAlignment="center" textWrap="true" class="text_label"
                                                        [ngClass]="{'active': app.isDashboard}"></Label>
                                                    <Label class="fa" [text]="app.isDashboard ? '&#xf068;' : '&#xf067;'"
                                                        row="0" col="1" verticalAlignment="center" [ngClass]="{'active': app.isDashboard}"></Label>
                                                </GridLayout>
                                                <Label [text]="app.isDashboard ? 'Remove from dashboard' : 'Add to dashboard'"
                                                    textWrap="true" class="info" [ngClass]="{'active': app.isDashboard}"></Label> -->

                                            </StackLayout>
                                        </GridLayout>
                                    </ng-template>
                                </RadListView>
                            </GridLayout>                            
                        </StackLayout>
                    </ng-template>
                </RadListView>
            </GridLayout>
        </StackLayout>
    </ScrollView>
    <GridLayout columns="*" rows="*" row="1" col="0" width="100%" style="background-color:#cb202d; height: 60"
        verticalAlignment="center" horizontalAlignment="center" borderRightWidth="1" borderColor="#393939" (tap)="onNavItemTap('/created-app/'+app_id+'/add-category')">
        <Label text="Add Category &#xf055;" class="fa create-app-text" textAlignment="center" textWrap="true"
            verticalAlignment="center" horizontalAlignment="center" row="0" col="0" width="100%"></Label>
    </GridLayout>
    <GridLayout columns="*" rows="*" row="1" col="1" width="100%" style="background-color:#cb202d; height: 60"
        verticalAlignment="center" horizontalAlignment="center" (tap)="onNavItemTap('/created-app/'+app_id+'/add-product')">
        <Label text="Add Product &#xf055;" class="fa create-app-text" textAlignment="center" textWrap="true"
            verticalAlignment="center" horizontalAlignment="center" row="0" col="0"></Label>
    </GridLayout>
</GridLayout>