<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <!-- <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem> -->
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()" ios.position="left"></NavigationButton>
    <Label class="action-bar-title" [text]="serviceType == 1 ? 'Products' : 'Services'"></Label>
</ActionBar>

<GridLayout rows="*,60" columns="*,*" class="page page-content" *ngIf="visible_key">
    <ScrollView row="0" colSpan="2">
        <StackLayout class="full-content">
            <GridLayout tkExampleTitle tkToggleNavButton class="all_category_product_container">
                <RadListView [items]="category_list" loadOnDemandMode="Manual" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)">
                    <ng-template tkListItemTemplate let-category="item" let-i="index">
                        <StackLayout verticalAlignment="top" horizontalAlignment="center" class="category_area" width="100%">
                            <StackLayout verticalAlignment="top" horizontalAlignment="center" class="category_area_container">
                                <GridLayout columns="auto, *" rows="*" verticalAlignment="center" class="heading_sec"
                                    (tap)="itemToggle(category)">
                                    <GridLayout rows="*" columns="auto,20" verticalAlignment="center"
                                        horizontalAlignment="left" verticalAlignment="center" col="0" row="0">
                                        <Label [text]="category.category_name" textWrap="true" horizontalAlignment="left"
                                            verticalAlignment="center" col="0" row="0"></Label>
                                        <Label class="fa arrow" horizontalAlignment="right" verticalAlignment="center"
                                            row="0" col="1" [text]="!category.opened ? '&#xf078;' : '&#xf077;'"
                                            textWrap="true"></Label>
                                    </GridLayout>
                                    <GridLayout [id]="i + 'parent'" rows="*" columns="*" horizontalAlignment="right"
                                        verticalAlignment="center" row="0" col="1" (tap)="parentCatTap(i + 'parent',category)"
                                        height="25" width="25" borderWidth="1" borderColor="#272727" borderRadius="50">
                                        <Label class="fa" text="&#xf142;" textAlignment="center" color="#272727"
                                            horizontalAlignment="center" verticalAlignment="center" col="0" row="0"
                                            fontSize="12" fontWeight="600"></Label>
                                    </GridLayout>

                                </GridLayout>
                                <StackLayout verticalAlignment="top" horizontalAlignment="center" *ngIf="category.sub_category != undefined && category.opened">
                                    <GridLayout tkExampleTitle tkToggleNavButton>
                                        <RadListView [items]="category.sub_category">
                                            <ng-template tkListItemTemplate let-subCategory="item" let-j="index">
                                                <StackLayout verticalAlignment="top" horizontalAlignment="center" class="Sub_category_area">
                                                    <StackLayout verticalAlignment="top" horizontalAlignment="center"
                                                        class="Sub_category_container">
                                                        <GridLayout columns="auto, *" rows="*" verticalAlignment="center"
                                                            class="heading_sec" (tap)="itemToggle(subCategory)">
                                                            <GridLayout rows="*" columns="auto,20" verticalAlignment="center"
                                                                horizontalAlignment="left" verticalAlignment="center"
                                                                col="0" row="0" >
                                                                <Label [text]="subCategory.category_name" textWrap="true"
                                                                    horizontalAlignment="left" verticalAlignment="center"
                                                                    col="0" row="0"></Label>
                                                                <Label class="fa arrow" horizontalAlignment="right"
                                                                    verticalAlignment="center" row="0" col="1" [text]="!subCategory.opened ? '&#xf078;' : '&#xf077;'"
                                                                    textWrap="true"></Label>
                                                            </GridLayout>
                                                            <GridLayout [id]="i + j + 'sub'" rows="*" columns="*"
                                                                horizontalAlignment="right" verticalAlignment="center"
                                                                row="0" col="1" (tap)="subCatTap(i + j + 'sub',subCategory)"
                                                                height="25" width="25" borderWidth="1" borderColor="#272727"
                                                                borderRadius="50">
                                                                <Label class="fa" text="&#xf142;"
                                                                    textAlignment="center" color="#272727"
                                                                    horizontalAlignment="center" verticalAlignment="center"
                                                                    col="0" row="0" fontSize="12" fontWeight="600"></Label>
                                                            </GridLayout>

                                                        </GridLayout>
                                                        <StackLayout verticalAlignment="top" horizontalAlignment="center"
                                                            *ngIf="subCategory.opened">
                                                            <GridLayout tkExampleTitle tkToggleNavButton>
                                                                <RadListView [items]="subCategory.products">
                                                                    <ng-template tkListItemTemplate let-product="item"
                                                                        let-i="index">
                                                                        <StackLayout verticalAlignment="top"
                                                                            horizontalAlignment="center" class="list-group-item">
                                                                            <GridLayout columns="90,*,80" rows="*"
                                                                                class="list-group-item-container"
                                                                                verticalAlignment="center">
                                                                                <FrescoDrawee col="0" row="0"
                                                                                    placeholderImageUri="~/images/placeholder.png"
                                                                                    aspectRatio="1.33" [imageUri]="product.product_image"
                                                                                    width="90" height="90"
                                                                                    roundAsCircle="true"
                                                                                    roundedCornerRadius="50"
                                                                                    actualImageScaleType="fitCenter"
                                                                                    class="product_image"
                                                                                    verticalAlignment="center"
                                                                                    horizontalAlignment="left"></FrescoDrawee>
                                                                                <StackLayout orientation="vertical" col="1"
                                                                                    row="0" verticalAlignment="center"
                                                                                    horizontalAlignment="left" class="middle_content_area">
                                                                                    <Label [text]="product.product_name"
                                                                                        class="productName" textWrap="true"></Label>
                                                                                    <Label [text]="product.description | slice:0:100"
                                                                                        class="productDesc" textWrap="true"></Label>
                                                                                    <StackLayout row="1" col="0"
                                                                                        verticalAlignment="center"
                                                                                        orientation="vertical"
                                                                                        horizontalAlignment="left"
                                                                                        class="m-t-5 m-b-5" *ngIf="serviceType == 1">
                                                                                        <StackLayout orientation="horizontal">
                                                                                            <Label [text]="'&#xf156;' + product.discounted_price"
                                                                                                class="fa discounted_price"
                                                                                                textWrap="true" *ngIf="product.discounted_price > 0"></Label>
                                                                                            <Label [text]="'&#xf156;' + product.price"
                                                                                                class="fa original_price"
                                                                                                textWrap="true"
                                                                                                [ngClass]="[product.discounted_price > 0 ? 'isDiscount' : '']"></Label>
                                                                                        </StackLayout>
                                                                                    </StackLayout>
                                                                                </StackLayout>

                                                                            </GridLayout>
                                                                            <GridLayout columns="*,*" rows="*"
                                                                                verticalAlignment="center"
                                                                                horizontalAlignment="center" *ngIf="serviceType == 1">
                                                                                <GridLayout columns="*" rows="*" row="0"
                                                                                    col="0" width="100%" style="background-color:#213548; height: 30"
                                                                                    verticalAlignment="center"
                                                                                    horizontalAlignment="center"
                                                                                    borderRightWidth="1" borderColor="#ffffff"
                                                                                    (tap)="editProduct(product.id)">
                                                                                    <Label text="Edit &#xf044;" class="fa create-app-text"
                                                                                        textAlignment="center" textWrap="true"
                                                                                        verticalAlignment="center"
                                                                                        horizontalAlignment="center"
                                                                                        row="0" col="0" width="100%"
                                                                                        fontSize="10"></Label>
                                                                                </GridLayout>
                                                                                <GridLayout columns="*" rows="*" row="0"
                                                                                    col="1" width="100%" style="background-color:#213548; height: 30"
                                                                                    verticalAlignment="center"
                                                                                    horizontalAlignment="center" (tap)="deleteProduct(product.id)">
                                                                                    <Label text="Delete &#xf1f8;" class="fa create-app-text"
                                                                                        textAlignment="center" textWrap="true"
                                                                                        verticalAlignment="center"
                                                                                        horizontalAlignment="center"
                                                                                        row="0" col="0" fontSize="10"></Label>
                                                                                </GridLayout>
                                                                            </GridLayout>
                                                                            <GridLayout columns="*,*" rows="*"
                                                                                verticalAlignment="center"
                                                                                horizontalAlignment="center" *ngIf="serviceType == 2">
                                                                                <GridLayout columns="*" rows="*" row="0"
                                                                                    col="0" width="100%" style="background-color:#213548; height: 30"
                                                                                    verticalAlignment="center"
                                                                                    horizontalAlignment="center"
                                                                                    borderRightWidth="1" borderColor="#ffffff"
                                                                                    (tap)="editService(product.id)">
                                                                                    <Label text="Edit &#xf044;" class="fa create-app-text"
                                                                                        textAlignment="center" textWrap="true"
                                                                                        verticalAlignment="center"
                                                                                        horizontalAlignment="center"
                                                                                        row="0" col="0" width="100%"
                                                                                        fontSize="10"></Label>
                                                                                </GridLayout>
                                                                                <GridLayout columns="*" rows="*" row="0"
                                                                                    col="1" width="100%" style="background-color:#213548; height: 30"
                                                                                    verticalAlignment="center"
                                                                                    horizontalAlignment="center">
                                                                                    <Label text="Delete &#xf1f8;" class="fa create-app-text"
                                                                                        textAlignment="center" textWrap="true"
                                                                                        verticalAlignment="center"
                                                                                        horizontalAlignment="center"
                                                                                        row="0" col="0" fontSize="10"></Label>
                                                                                </GridLayout>
                                                                            </GridLayout>
                                                                        </StackLayout>
                                                                    </ng-template>
                                                                </RadListView>
                                                            </GridLayout>
                                                        </StackLayout>
                                                    </StackLayout>
                                                </StackLayout>
                                            </ng-template>
                                        </RadListView>
                                    </GridLayout>
                                </StackLayout>
                                <StackLayout verticalAlignment="top" horizontalAlignment="center" class="product_area"
                                    *ngIf="category.products != undefined && category.opened">
                                    <GridLayout tkExampleTitle tkToggleNavButton>
                                        <RadListView [items]="category.products">
                                            <ng-template tkListItemTemplate let-product="item" let-i="index">

                                                <StackLayout verticalAlignment="top" horizontalAlignment="center" class="list-group-item">
                                                    <GridLayout columns="90,*,80" rows="*" class="list-group-item-container"
                                                        verticalAlignment="center">
                                                        <FrescoDrawee col="0" row="0" placeholderImageUri="~/images/placeholder.png"
                                                            aspectRatio="1.33" [imageUri]="product.product_image" width="90"
                                                            height="90" roundAsCircle="true" roundedCornerRadius="50"
                                                            actualImageScaleType="fitCenter" class="product_image"
                                                            verticalAlignment="center" horizontalAlignment="left"></FrescoDrawee>
                                                        <StackLayout orientation="vertical" col="1" row="0"
                                                            verticalAlignment="center" horizontalAlignment="left" class="middle_content_area">
                                                            <Label [text]="product.product_name" class="productName"
                                                                textWrap="true"></Label>
                                                            <Label [text]="product.description | slice:0:100" class="productDesc"
                                                                textWrap="true"></Label>
                                                            <StackLayout row="1" col="0" verticalAlignment="center"
                                                                orientation="vertical" horizontalAlignment="left" class="m-t-5 m-b-5"
                                                                *ngIf="serviceType == 1">
                                                                <StackLayout orientation="horizontal">
                                                                    <Label [text]="'&#xf156;' + product.discounted_price"
                                                                        class="fa discounted_price" textWrap="true"
                                                                        *ngIf="product.discounted_price > 0"></Label>
                                                                    <Label [text]="'&#xf156;' + product.price" class="fa original_price"
                                                                        textWrap="true" [ngClass]="[product.discounted_price > 0 ? 'isDiscount' : '']"></Label>
                                                                </StackLayout>
                                                            </StackLayout>
                                                        </StackLayout>
                                                    </GridLayout>
                                                    <GridLayout columns="*,*" rows="*" verticalAlignment="center"
                                                        horizontalAlignment="center" *ngIf="serviceType == 1">
                                                        <GridLayout columns="*" rows="*" row="0" col="0" width="100%"
                                                            style="background-color:#213548; height: 30"
                                                            verticalAlignment="center" horizontalAlignment="center"
                                                            borderRightWidth="1" borderColor="#ffffff" (tap)="editProduct(product.id)">
                                                            <Label text="Edit &#xf044;" class="fa create-app-text"
                                                                textAlignment="center" textWrap="true"
                                                                verticalAlignment="center" horizontalAlignment="center"
                                                                row="0" col="0" width="100%" fontSize="10"></Label>
                                                        </GridLayout>
                                                        <GridLayout columns="*" rows="*" row="0" col="1" width="100%"
                                                            style="background-color:#213548; height: 30"
                                                            verticalAlignment="center" horizontalAlignment="center" (tap)="deleteProduct(product.id)">
                                                            <Label text="Delete &#xf1f8;" class="fa create-app-text"
                                                                textAlignment="center" textWrap="true"
                                                                verticalAlignment="center" horizontalAlignment="center"
                                                                row="0" col="0" fontSize="10"></Label>
                                                        </GridLayout>
                                                    </GridLayout>
                                                    <GridLayout columns="*,*" rows="*" verticalAlignment="center"
                                                        horizontalAlignment="center" *ngIf="serviceType == 2">
                                                        <GridLayout columns="*" rows="*" row="0" col="0" width="100%"
                                                            style="background-color:#213548; height: 30"
                                                            verticalAlignment="center" horizontalAlignment="center"
                                                            borderRightWidth="1" borderColor="#ffffff" (tap)="editService(product.id)">
                                                            <Label text="Edit &#xf044;" class="fa create-app-text"
                                                                textAlignment="center" textWrap="true"
                                                                verticalAlignment="center" horizontalAlignment="center"
                                                                row="0" col="0" width="100%" fontSize="10"></Label>
                                                        </GridLayout>
                                                        <GridLayout columns="*" rows="*" row="0" col="1" width="100%"
                                                            style="background-color:#213548; height: 30"
                                                            verticalAlignment="center" horizontalAlignment="center" (tap)="deleteService(product.id)">
                                                            <Label text="Delete &#xf1f8;" class="fa create-app-text"
                                                                textAlignment="center" textWrap="true"
                                                                verticalAlignment="center" horizontalAlignment="center"
                                                                row="0" col="0" fontSize="10"></Label>
                                                        </GridLayout>
                                                    </GridLayout>
                                                </StackLayout>
                                            </ng-template>
                                        </RadListView>
                                    </GridLayout>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </ng-template>
                </RadListView>
            </GridLayout>
            <Button *ngIf="key != ''" class="btn btn-primary" padding="10 0" borderRadius="18" text="Next" (tap)="next()"></Button>
        </StackLayout>
    </ScrollView>
    <GridLayout columns="*" rows="*" row="1" col="0" width="100%" style="background-color:#cb202d; height: 60"
        verticalAlignment="center" horizontalAlignment="center" borderRightWidth="1" borderColor="#393939" (tap)="onNavItemTap('/created-app/'+app_id+'/add-category')">
        <Label text="Add Category &#xf055;" class="fa create-app-text" textAlignment="center" textWrap="true"
            verticalAlignment="center" horizontalAlignment="center" row="0" col="0" width="100%"></Label>
    </GridLayout>
    <GridLayout columns="*" rows="*" row="1" col="1" width="100%" style="background-color:#cb202d; height: 60"
        verticalAlignment="center" horizontalAlignment="center" (tap)="onNavItemTap('/created-app/'+app_id+'/add-product')"
        *ngIf="serviceType == 1">
        <Label text="Add Product &#xf055;" class="fa create-app-text" textAlignment="center" textWrap="true"
            verticalAlignment="center" horizontalAlignment="center" row="0" col="0"></Label>
    </GridLayout>
    <GridLayout columns="*" rows="*" row="1" col="1" width="100%" style="background-color:#cb202d; height: 60"
        verticalAlignment="center" horizontalAlignment="center" (tap)="onNavItemTap('/created-app/'+app_id+'/add-service')"
        *ngIf="serviceType == 2">
        <Label text="Add Service &#xf055;" class="fa create-app-text" textAlignment="center" textWrap="true"
            verticalAlignment="center" horizontalAlignment="center" row="0" col="0"></Label>
    </GridLayout>
</GridLayout>